<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>699211092796-r6bfpu126leu4i5ljaj11d5452mf1i7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699211092796-r6bfpu126leu4i5ljaj11d5452mf1i7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCR1iH4eGMV5n6GC3lKWMEqWrkgouwysfI</string>
	<key>GCM_SENDER_ID</key>
	<string>699211092796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bkzl.echotags.amsterdam</string>
	<key>PROJECT_ID</key>
	<string>lost-bananas</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-bananas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:699211092796:ios:17dee63fefead333</string>
	<key>DATABASE_URL</key>
	<string>https://lost-bananas.firebaseio.com</string>
</dict>
</plist>